.Button{
    width: 25%;
    height: 25px;
    text-align: center;
    font-size: 90%;
    background-color: #5f5f5f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 700;
    border-radius: 100px;
    padding:10px;
    cursor: pointer;
}

.Button:hover{
    background-color: #504e4e;
}