.LoginPage{
    display: flex;
    flex-direction: column;
    height: 590px;
    padding: 100px 0px 100px 0px;
}

.ButtonsHoc{
    display: flex;
    padding: 0 200px 0 200px;
    justify-content: space-between;
}

.Link{
    display: flex;
    width: 30%;
    height:20%;
    border-radius: 100px;
    padding: 0;
    margin: 10% 0 0 0;
    justify-content: center;
    text-decoration: none;
}