.LoginPage{
    display: flex;
    flex-direction: column;
    height: 590px;
    padding: 100px 0px 100px 0px;
}

.ButtonsHoc{
    display: flex;
    padding: 0 200px 0 200px;
    justify-content: space-between;
    margin-top: 5%;
}