header{
    width: 100%;
    background-color: black;
    height: 5%;
    padding-right: 20px;
}

.SiteName{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.Command{
    cursor: pointer
}