.AppInputText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 98vw;
    padding: 0px;
}

.AppLabel{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0;
}

.AppInputForm{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 95vw;
    border-radius: 3px;
    padding: 0;
}

.AppInput{
    height: 100%;
    width: 100%;
    color:#555555;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 10px;
}

.AppInput:focus {
    border: 1px solid #999999;
    outline: black;
}
